<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">
     
	<hdp:configuration>
		fs.defaultFS=hdfs://local-hadoop-namenode:9000
	</hdp:configuration>
     
     <!-- pre-action="cleanup-script" post-action="export-results" -->
	<hdp:job-runner id="daily-tr-agg-job-runner" job-ref="daily-tr-agg-job" run-at-startup="true"/>

	<hdp:job id="daily-tr-agg-job"  input-path="/salest/raw_data/transaction_receipt.data" output-path="/salest/raw_data/mapreduce_result_00"
		mapper="com.salest.etl.adminconsole.hadoop.TrReceiptDailyAggMapper"
		reducer="com.salest.etl.adminconsole.hadoop.TrReceiptDailyAggReducer" />
		
</beans>
