<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/hadoop
		http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

	<context:property-placeholder location="classpath:properties/hadoop.properties"/>
	
	<hdp:configuration>
		fs.defaultFS=${hd.fs}
	</hdp:configuration>
     
    <!-- pre-action="cleanup-script" post-action="export-results" -->
<!--
	<hdp:job-runner id="dailyTrAggJobRunner" pre-action="cleanup-script" job-ref="daily-tr-agg-job" run-at-startup="false"/>
-->

	<hdp:script id="cleanup-script" location="classpath:clean-files.groovy">
		<hdp:property name="targetDir" value="${daily_tr_agg.output.path}"/>
	</hdp:script>
	
	<hdp:script-tasklet id="cleanup-tasklet" scope="step">
	   	<hdp:script location="classpath:clean-files.groovy">
			<hdp:property name="targetDir" value="${daily_tr_agg.output.path}"/>
		</hdp:script>
    </hdp:script-tasklet>

	
	<!-- job task -->
	
    <hdp:job-tasklet id="mrjob-tasklet" job-ref="daily-tr-agg-job" scope="step" />

	<hdp:job id="daily-tr-agg-job"
		input-path="${daily_tr_agg.input.path}" output-path="${daily_tr_agg.output.path}"
		mapper="com.salest.etl.adminconsole.mapreduce.TrReceiptDailyAggMapper"
		reducer="com.salest.etl.adminconsole.mapreduce.TrReceiptDailyAggReducer" />


	<!-- tool-runner task -->
	<!--
    <hdp:tool-tasklet id="tool-tasklet" tool-ref="tool-runner" scope="step"/>
	<hdp:tool-runner id="tool-runner" tool-class="com.salest.etl.adminconsole.mapreduce.TrReceiptDailyAggToolRunner" run-at-startup="false">
		<hdp:arg value="${daily_tr_agg.input.path}" />
		<hdp:arg value="${daily_tr_agg.output.path}"/>
	</hdp:tool-runner>
	-->
	
	<hdp:script-tasklet id="setup-tasklet" scope="step">
	   	<hdp:script location="classpath:setup-path.groovy">
	   		<hdp:property name="targetDir" value="${daily_tr_agg.output.path}"/>
	   	</hdp:script>
    </hdp:script-tasklet>
    
    <hdp:resource-loader id="hadoopResourceLoader" />	

	<bean id="defaultResourceLoaders" class="org.springframework.data.hadoop.fs.CustomResourceLoaderRegistrar" p:loader-ref="hadoopResourceLoader" />
	
    
</beans>